.hero {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    padding-top: 6rem;
    position: relative;
    width: calc(100vw - (100vw - 100%));
}

.hero::before {
    background-attachment: fixed;
    background-image: url("/assets/images/hero.jpg");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    filter: brightness(60%);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
  
.hero-content {
    padding: 2rem;
    position: relative;
    text-align: center;
}

.hero-heading {
    color: $color--background;
    font-family: 'Oswald', cursive;
    font-size: 3rem;
    margin: 0;
    text-transform: uppercase;
}

.hero-text {
    color: $color--background;
}

.hero-icon {
    padding-top: 4rem;
}

.hero-button {
    display: inline-block;
    margin: auto;
    margin-top: 1rem;
}


@media screen and (min-width: $size--desktop) {
    
    .hero-heading {
        font-size: 5rem;
    }
}

@media screen and (min-width: $size--widescreen) {

    .hero-heading {
        font-size: 8rem;
    }
    
    .hero-text {
        font-size: 2rem;
    }
}